<style>
footer {
    padding: 0px 0px 0px 0px;
    background-color:black;
    margin:0px;
}
.fa {
  padding: 20px;
  font-size: 23px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
    text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
margin-top: 30px;
}
.fa-whatsapp {
  background: #25d366;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

p{text-align:center;

}

</style>