<style type="text/css">
.bs-example{
    margin: 0px;
}
.navbar-brand{
  font-size: 20px;
  font-family: sans-serif;
}
.col-lg-6{
  padding-left: 20%;
}
.jumbotron{
  margin-bottom: 0px;
}
</style>