<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{ % static "adminafterlogin.css" %}">
  </head>
  <body>
    {% include "library/navbaradmin.html" %}
  
   
    <div class="jumbotron" >
    <h1 class="display-4">Hello {{user.first_name}} !</h1>
    <p class="lead">As you are Admin, you can add a book to library, view available book in library,
       Issue books to students,
      View issued book to students and many more ... !

    </p>
    <hr class="my-4">
    <p>Option Available For You</p>
    <div class="options" style="text-align:center">
      <a href="addbook" class="btn btn-primary btn-lg active" style="border-radius: 0%;" role="button" aria-pressed="true">Add Book To Library</a><br><br>
      <a href="viewbook" class="btn btn-primary btn-lg active" style="border-radius: 0%;" role="button" aria-pressed="true">View Available Book</a><br><br>
      <a href="issuebook" class="btn btn-primary btn-lg active" style="border-radius: 0%;" role="button" aria-pressed="true">Issue New Book</a><br><br>
      <a href="viewissuedbook" class="btn btn-primary btn-lg active" style="border-radius: 0%;" role="button" aria-pressed="true">View Issued Book</a><br><br>
      <a href="viewstudent" class="btn btn-primary btn-lg active" style="border-radius: 0%;" role="button" aria-pressed="true">View Student</a>
    </div>

    </div>


    {% include "library/footer.html" %}
  </body>
</html>
