<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{ % static "adminclick.css" %}">
  </head>
  <body>
  {% include "library/navbar.html" %}
<br><br>
  <div class="jumbotron">
    <h1 class="display-4">Hello, Admin</h1>
    <p class="lead">Welcome to Online Library Management System.</p>
    <hr class="my-4">
    <p>You can access various features after Login/SignUp.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" style="border-radius:0px;" href="adminsignup" role="button">SignUp</a>
      <a class="btn btn-primary btn-lg" style="border-radius:0px;" href="adminlogin" role="button">Login</a>
    </p>
  </div>

    {% include "library/footer.html" %}
  </body>
</html>
