<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{ % static "studentafterlogin.css" %}">
  </head>
  <body>
    {% include "library/navbarstudent.html" %}
    <br>
    <br>
    <center><h3 style=" margin-bottom: 0px;" class='alert alert-success'>Welcome to Library Management System</h3></center>
    <div class="jumbotron"   style="    margin-bottom: 0px;">
    <h1 class="display-4">Hello {{user.first_name}} !</h1>
    <p class="lead">As you are Student, you can see how many book you have taken from library with fine and many more ...!
    </p>
    <hr class="my-4">
    <p>Option Available For You</p>
    <div class="options" style="text-align:center">
      <a href="viewissuedbookbystudent" class="btn btn-primary btn-lg active" style="border-radius: 0%;" role="button" aria-pressed="true">View issued book to you</a><br><br>
        </div>

    </div>


    {% include "library/footer.html" %}
  </body>
</html>
