<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{ % static "viewissuedbook.css" %}"> 
  </head>
  <body>
    {% include "library/navbaradmin.html" %}
    <br>
    <br>
    <h3 class="p-3 mb-2 bg-success text-white" style = 'font-size: 30px;text-align:center;margin-bottom:0px;'>Issued books to Student</h3>

{% if li%}
    <div class="container">
      <table class="table table-hover table-condensed table-striped table-bordered">
        <thead>
        <tr>
        <th>Student Name</th>
        <th>Enrollment</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>Issued</th>
        <th>Expiry Date</th>
        <th>Fine</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
        <td colspan="7">
        <div class="links"></div>
        </td>
        </tr>
        </tfoot>
        <tbody>
          {% for t in li %}
            <tr>
              <td>{{t.0}}</td>
              <td>{{t.1}}</td>
              <td>{{t.2}}</td>
              <td>{{t.3}}</td>
              <td>{{t.4}}</td>
              <td>{{t.5}}</td>
              <td>{{t.6}}</td>
            </tr>
            {%endfor%}
        </tbody>
        </table>
    </div>
    {%else%}
    <h1> 0 book Issued</h1>
    {%endif%}

    <br><br><br><br><br><br><br><br><br>
  {% include "library/footer.html" %}
  </body>
</html>
