<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{ % static "viewstudent.css" %}"> 
  </head>
  <body>
    {% include "library/navbaradmin.html" %}
    <br>
    <br>
    <h3 class="p-3 mb-2 bg-success text-white" style = 'font-size: 30px;text-align:center;'>Registered Students</h3>

    {% if students%}
<div class="container">
  <table class="table table-hover table-condensed table-striped table-bordered">
    <thead>
    <tr>
    <th>Name</th>
    <th>Enrollment</th>
    <th>Branch</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
    <td colspan="3">
    <div class="links"></div>
    </td>
    </tr>
    </tfoot>
    <tbody>
      {% for s in students %}
        <tr>
          <td>{{s.get_name}}</td>
          <td>{{s.enrollment}}</td>
          <td>{{s.branch}}</td>
    
        </tr>
    
      {% endfor %}
    </tbody>
    </table>
</div>
{%else%}
<h1> No Student Registered in Library</h1>
{%endif%}



<br><br><br><br><br><br>

<br><br><br>
  {% include "library/footer.html" %}
  </body>
</html>
